Flask
flask-cors
gunicorn

numpy<2
opencv-python-headless

Pillow

requests
python-dotenv

Werkzeug

# Video / image handling
imageio
imageio-ffmpeg

# API / authentication utilities
PyJWT

# Database
SQLAlchemy
Flask-SQLAlchemy

# File uploads
python-multipart

# Production utilities
urllib3
